/* Estilo Index */

.center {
  text-align: left;
  color: white;
}

.h1 {
  color: white;
  font-size: 70px;
  margin-left: 200px;
  margin-top: -20px;
  font-family: "Fantasy";
}
.h1c {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: "Fantasy";
  margin-top: 0px;
  margin-left: 100px;
}
.Local {
  color: white;
  font-size: 35px;
  text-align: left;
  font-family: "Fantasy";
  margin-top: 0px;
  margin-left: 0px;
}
.corC {
  color: white;
  margin-left: 150px;
  padding: 0px 0px 0px 0px;
  font-family: "Fantasy";
}

.ml-button {
  margin-left: 255px;
  background-color: white;
  font-family: "Fantasy";
  color: black;
  border: 2px solid #4ca; /* Green */
}
.centerfooter {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: -25px;
}

.ml-right {
  margin-right: 0px;
  padding: 25px 50px 75px 100px;
}
.ml-left {
  margin-left: 0px;
  padding: 25px 50px 75px 100px;
}
.containerC {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
}

div p {
  margin-top: 100px;
  margin-left: 30px;
}

.imagem {
  max-width: 900px;
  max-height: 700px;
  width: auto;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;
}

.tm-social {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.texto1 {
  margin-top: 180px;
  font-family: "Fantasy";
  font-size: 65px;
  color: darkpink;
}

#menu li {
  display: inline;
  padding: 15px;
  font-family: "arial";
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-size: 3em;
  color: #f310af;
}
.Contact {
  text-align: center;
  color: white;
}
#menu li a {
  text-decoration: none;
  color: #f310af;
  font-size: 20px;
}

#menu li a:hover {
  color: #4ca;
}

.fundo {
  background-color: black;
}

/* Estilo Contato */
 